@font-face{
	font-family: 'saira';
	src: url('custom-fonts/SairaStencilOne-Regular.ttf');
}

body{
	background-color: black;
}

.container{
	font-family: sans-serif;
	object-position: center;
	height: 100%;
	margin-bottom: 10px;
}

.container #txt1{
	font-weight: bold;
	font-family: saira;
	color: blue;
	text-align: center;
	font-size: 55px;
}

.row p{
	color: white;
}

.col-lg-5{
	width: 401px;
	height: auto;
}